.home .VPContent {
	align-content: center;
}

.home .VPHero {
	margin: 0;

	& .name {
		padding: 0 0 0.2em;
		font-family: "Cal Sans";
		font-size: 4.4em;
	}

	& .text {
		transform: translate(0, -0.4em);
		font-size: 1.8em;
		line-height: 1.6em;
		opacity: 0.5;
		color: var(--vp-c-brand-3);
	}

	@media (min-width: 960px) {
		padding: 144px 0 0;

		& .container {
			width: 880px;
		}

		& .main,
		& .image {
			flex: 1 1 0;
			max-width: 50%;
		}

		& .main {
			order: 2;
		}

		& .image {
			order: 1;
		}
	}

	@media (max-width: 959px) {
		padding: 0;

		& .container {
			align-items: center;
		}

		& .text {
			line-height: 2.2em;
		}

		& .tagline {
			max-width: 100%;
			font-size: 1.5em;
		}

		& .image {
			margin: 16px;
		}

		& .image-src {
			max-width: 320px;
			max-height: 320px;
		}
	}

	@media (max-width: 639px) {
		& .name {
			font-size: 3em;
		}

		& .text {
			font-size: 1.3em;
		}

		& .tagline {
			font-size: 1.2em;
		}

		& .image-container {
			height: 280px;
		}

		& .image-src {
			max-width: 220px;
			max-height: 220px;
		}
	}
}
