:root {
	--picguin-1: hsl(133, 70%, 56%);
	--picguin-2: hsl(213, 76%, 70%);
	--picguin-3: hsl(299, 55%, 64%);
	--picguin-4: hsl(366, 90%, 64%);

	--picguin-gradient: linear-gradient(
		to right,
		var(--picguin-1),
		var(--picguin-2),
		var(--picguin-3),
		var(--picguin-4)
	);

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: var(--picguin-gradient);

	--vp-c-gutter: var(--vp-c-divider);
	--vp-button-alt-bg: var(--vp-c-bg-alt);
}

.dark {
	--picguin-1: hsl(133, 76%, 75%);
	--picguin-2: hsl(213, 76%, 77%);
	--picguin-3: hsl(299, 55%, 72%);
	--picguin-4: hsl(366, 90%, 66%);
}
